<h1>Things I gotta get done</h1>

<% @todos.each do |todo| %>
  <div>
    <%= todo.description %>
  </div>
<% end %>

<form action="/todos" method="post">
  <input type="text" name="description">
  <input type="submit">
</form>
